@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gaegu";
  src: url("./Gaegu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.font-gaegu {
  font-family: "Gaegu", cursive;
}
